html, body {
	height: 100%;
}

.vh100 {
	height: 100%;
}

.heading {
	width: 50%;
	height: 100%;
	background-color: #4D55CC;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.heading h1,
.heading SVG
 {
	color: #FFF2DB;
}

.heading h3{
	color: #D3CA79;
}

.formContainer {
	width: 50%;
	height: 100%;
}

.loginForm {
	width: 50%;
	
}
